<legend>Process Definitions</legend>
<table ng-table="tableParams" class="table table-hover table-condensed">
  <tbody ng-repeat="group in $groups">
      <tr class="ng-table-group">
        <td colspan="{{$columns.length}}">
          <a href="" ng-click="group.$hideRows = !group.$hideRows">
            <span ng-class="{ 'icon-chevron-right': group.$hideRows, 'icon-chevron-down': !group.$hideRows }"></span>
            <strong>{{ group.value }}</strong>
          </a>
        </td>
      </tr>
      <tr ng-hide="group.$hideRows" ng-repeat="def in group.data" ng-click="view(def)">
        <td data-title="'Name'" sortable="'name'">{{def.name}}</td>
        <td data-title="'Action'">
          <button ng-click="view(def)" class="btn btn-primary btn-sm" style="outline: none;">View</button>
        </td>
      </tr>
  </tbody>
</table>

<div ng-if="currentDef">
  <legend>{{ currentDef.name }}</legend>
  <process-variables variables="currentDef.variables" result="result" editible="true"></process-variables>
  <button class="btn btn-primary" ng-click="start(currentDef)"><i class="fa fa-play"></i> Start</button>
  <process-diagram def="currentDef._id"></process-diagram>
</div>
